@import './dark-mode.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(54, 54, 54, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 5;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}
.side-menu .cancel-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 28px;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.side-menu .cancel-btn:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-out;
}

.menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;
}
.menu-items div {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}
.menu-items div:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-out;
}
.menu-items div .side:not(:nth-of-type(1)) {
  margin-left: 10px;
}
.menu-items div .side .side {
  color: white;
  text-decoration: none;
}
.menu-items div .dropdown {
  display: none;
  margin-left: 40px;
  flex-direction: column;
}
.menu-items div .dropdown-item {
  cursor: pointer;
  padding: 5px 0;
}

.products-menu.active .dropdown {
  display: flex;
}

.products-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.products-menu:hover {
  transform: none !important;
}
.products-menu .products-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  margin-right: 20px;
}
.products-menu .dropdown {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  width: 100%;
  gap: 8px;
}
.products-menu .dropdown:hover {
  transform: none !important;
}
.products-menu .dropdown .dropdown-item {
  padding: 5px 0;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  margin-left: 14px;
}
.products-menu .dropdown .dropdown-item:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-out;
}
.products-menu.active .dropdown {
  display: flex;
}

/* Preloader wrapper */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#logo-preloader {
  width: 150px;
  height: 150px;
}

.logo-stroke {
  fill: none;
  stroke: #000;
  stroke-width: 6;
  stroke-miterlimit: 10;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: drawLogo 4s ease forwards;
}

.logo-stroke {
  transition: fill 0.5s ease 2s;
  fill: transparent;
}

.logo-stroke.filled {
  fill: #000;
}

@keyframes drawLogo {
  to {
    stroke-dashoffset: 0;
  }
}
body {
  font-family: "poppins";
  height: 100%;
  width: 100%;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.first-page {
  animation: fadeInUp 1.5s ease-in-out forwards;
  animation-delay: 1s;
  height: 120vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Hide menu by default */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: rgb(0, 0, 0);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  min-width: 160px;
  border-radius: 6px;
  z-index: 1000;
}

/* Dropdown items */
.dropdown-menu a {
  display: block;
  padding: 10px 15px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
  font-family: "poppins", sans-serif;
}

/* Hover effect for items */
.dropdown-menu a:hover {
  background-color: #616161;
}

/* Show menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

.main-box {
  display: flex;
  height: 10vh;
  width: 100vw;
  justify-content: space-between;
  backdrop-filter: blur(5px); /* Applies the glass blur effect */
  -webkit-backdrop-filter: blur(5px); /* For Safari support */
  padding: 0.5rem;
  margin-right: 2rem;
  margin-left: 2rem;
  align-items: center;
}

.left-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  margin-top: 5px;
}
.left-section .wafi-logo {
  width: clamp(50px, 12vw, 95px);
  height: clamp(50px, 12vw, 95px);
  margin-right: 1.5rem;
}
.left-section .wafi-logo:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-out;
  cursor: pointer;
}
.left-section h1 {
  margin-right: 2rem;
  font-size: clamp(1.5rem, 2.5vw, 1.6rem);
  margin-top: 5px;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease-out;
}
.left-section h1:nth-of-type(2)::after {
  content: "3";
  position: absolute;
  top: -4px;
  right: -6px;
  width: 18px;
  height: 18px;
  background-color: rgb(194, 12, 12);
  border-radius: 70%;
  color: white;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-section h1:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-out;
}

.right-section {
  display: flex;
  padding: 2px;
  align-items: center;
  justify-content: center;
  margin-right: clamp(2rem, 12vw, 5.5rem);
  margin-right: 6rem;
}
.right-section h1 {
  margin-right: clamp(1rem, 5vw, 4rem);
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  font-weight: 500;
  transition: all;
}
.right-section h1:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.3s ease-out;
}
@media (max-width: 1340px) {
  .right-section h1:not(:nth-of-type(5)) {
    display: none;
  }
}
.right-section .two-bars-menu, .right-section .two-bars {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 12px;
  width: auto;
  transition: transform 0.3s ease-in-out; /* Ensures smooth transition both on hover and when cursor leaves */
}
.right-section .two-bars-menu:hover, .right-section .two-bars:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.right-section .first-bar, .right-section .second-bar {
  height: 3px;
  width: 100px;
  background-color: black;
}
.right-section .two-bars-menu {
  display: none;
}
@media (max-width: 1340px) {
  .right-section .two-bars-menu {
    display: flex;
  }
  .right-section .first-bar, .right-section .second-bar {
    width: 80px;
  }
}

.hero-section {
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
}
@media (max-width: 1340px) {
  .hero-section {
    display: flex;
    justify-content: flex-start;
  }
}
.hero-section .wafi-title {
  font-size: clamp(2.5rem, 3vw, 4rem);
  font-weight: 400;
  color: "black";
}
.hero-section .wafi-title span {
  font-weight: 800;
}
.hero-section .background-slope img {
  width: 1200px;
  height: auto;
  position: absolute;
  top: -20%;
  left: 50%;
  z-index: -1;
}
.hero-section .lap-img {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 70%;
  position: relative;
}
@media (max-width: 1340px) {
  .hero-section .lap-img {
    display: none;
  }
}
.hero-section .lap-img .background-screen {
  position: absolute;
  top: 1%;
  left: 30%;
  width: 60%;
  height: 75%;
  z-index: -1; /* behind the image */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  pointer-events: none; /* so clicks pass through */
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-section .lap-img img {
  width: clamp(200px, 50vw, 1200px); /* Makes the image responsive */
  height: auto;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.hero-section .search-bar {
  display: flex;
  margin-top: 2rem;
}
.hero-section .search-bar input {
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-family: "poppins", sans-serif;
  font-weight: 200;
  width: 80%;
  height: 4rem;
  border: 1px solid rgb(61, 61, 61);
  padding-left: 1rem;
  background: none;
}
.hero-section .search-bar input:focus {
  outline: none;
  border: 1px solid black;
}
.hero-section .search-bar button {
  width: 20%;
  border: none;
  cursor: pointer;
  font-size: 32px;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-section .search-bar button:hover {
  background-color: #858585; /* Darker shade on hover */
  transition: background-color 0.3s ease; /* Smooth hover animation */
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.second-page {
  width: 100%;
  min-height: 100vh;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.laptops-title, .accesories-title {
  font-size: clamp(0.8rem, 12vw, 1.2rem);
  font-weight: 400;
  color: "black";
  margin-top: 4rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.laptops-title .two-bars, .accesories-title .two-bars {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 12px;
  width: 30px;
  margin-left: 25px;
}
.laptops-title .two-bars .first-bar, .laptops-title .two-bars .second-bar, .accesories-title .two-bars .first-bar, .accesories-title .two-bars .second-bar {
  height: 4px;
  width: 60px;
  background-color: black;
}

.laptops-cards, .accessories-cards {
  display: flex;
  width: 100%;
  height: 85%;
  justify-content: space-between;
  padding: 4rem;
  gap: 18px;
  margin-top: 6rem;
  align-items: center;
  animation: fade 5s ease-in; /* Animation for fade-in effect */
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}
@media screen and (max-width: 1100px) {
  .laptops-cards, .accessories-cards {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 30px;
    height: 100%;
    animation: fade 2s linear; /* Animation for fade-in effect */
    animation-timeline: view();
    animation-range: entry 0 cover 20%;
  }
}
.laptops-cards div, .accessories-cards div {
  width: 405px;
  height: clamp(200px, 25vw, 595px);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border: rgb(168, 168, 168) 1.5px solid;
  background: none;
  font-family: "poppins", sans-serif;
}
@media screen and (max-width: 1100px) {
  .laptops-cards div, .accessories-cards div {
    width: 350px;
    height: 400px;
    animation: fade 5s ease-in; /* Animation for fade-in effect */
  }
}
.laptops-cards div img, .accessories-cards div img {
  width: 75%;
  height: auto;
  border-radius: 1rem;
  margin-top: -6rem;
}
@media screen and (max-width: 1100px) {
  .laptops-cards div img, .accessories-cards div img {
    width: 250px;
    height: auto;
    margin-top: -2rem;
  }
}
.laptops-cards div .laptop-name, .laptops-cards div .acc-name, .accessories-cards div .laptop-name, .accessories-cards div .acc-name {
  font-size: clamp(1rem, 2vw, 1.5rem);
  width: 65%;
  font-weight: 800;
  color: "black";
  margin-top: -2rem;
}
@media screen and (max-width: 1540px) {
  .laptops-cards div .laptop-name, .laptops-cards div .acc-name, .accessories-cards div .laptop-name, .accessories-cards div .acc-name {
    margin-top: -2rem;
    width: 80%;
    font-size: 18px;
  }
}
.laptops-cards div .laptop-price, .laptops-cards div .acc-price, .accessories-cards div .laptop-price, .accessories-cards div .acc-price {
  font-size: clamp(0.6rem, 2vw, 1.5rem);
  width: 80%;
  font-weight: 400;
  color: "black";
}
@media screen and (max-width: 1140px) {
  .laptops-cards div .laptop-price, .laptops-cards div .acc-price, .accessories-cards div .laptop-price, .accessories-cards div .acc-price {
    font-size: 1.2rem;
  }
}
.laptops-cards div .color-circles, .accessories-cards div .color-circles {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
}
@media screen and (max-width: 1100px) {
  .laptops-cards div .color-circles, .accessories-cards div .color-circles {
    width: 60%;
  }
}
.laptops-cards div .color-circles h1, .accessories-cards div .color-circles h1 {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-weight: 800;
  color: "black";
  margin-left: 1rem;
  margin-top: 10px;
}
.laptops-cards div .color-circles .circles, .accessories-cards div .color-circles .circles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  border: none;
  margin-top: 12px;
}
.laptops-cards div .color-circles .circles div, .accessories-cards div .color-circles .circles div {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-left: 5px;
  border: none;
  transition: transform 0.3s ease-in-out; /* Ensures smooth transition both on hover and when cursor leaves */
  cursor: pointer;
}
.laptops-cards div .color-circles .circles div:hover, .accessories-cards div .color-circles .circles div:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease-out;
}
.laptops-cards div .color-circles .circles .circle-1, .accessories-cards div .color-circles .circles .circle-1 {
  background-color: rgb(0, 0, 0); /* Black color */
}
.laptops-cards div .color-circles .circles .circle-2, .accessories-cards div .color-circles .circles .circle-2 {
  background-color: rgb(255, 0, 0); /* Red color */
}
.laptops-cards div .color-circles .circles .circle-3, .accessories-cards div .color-circles .circles .circle-3 {
  background-color: rgb(255, 255, 255); /* Red color */
  border: 1px solid black;
}
.laptops-cards div .laptop-color, .laptops-cards div .acc-color, .accessories-cards div .laptop-color, .accessories-cards div .acc-color {
  font-size: clamp(1rem, 2vw, 1.5rem);
  width: 80%;
  font-weight: 800;
  color: "black";
  align-items: center;
  justify-content: center;
}
.laptops-cards div button, .accessories-cards div button {
  width: 100%;
  font-family: "poppins", sans-serif;
  height: 12%;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: 1.5px solid rgb(114, 114, 114);
  font-size: clamp(0.8rem, 1vw, 1.2rem);
  font-weight: 600;
  background: none;
  border-bottom: none;
  border-right: none;
  border-left: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth hover animation */
}
.laptops-cards div button:hover, .accessories-cards div button:hover {
  background-color: #909090; /* Darker shade on hover */
  color: white;
  transition: background-color 0.3s ease; /* Smooth hover animation */
}

.third-page {
  width: 100%;
  min-height: 100vh;
}/*# sourceMappingURL=index.css.map */