@import '../main/index.css';
@import '../login/login.scss';
@import '../main/dark-mode.css';

body {
  overflow-y: visible;
    overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;

  max-width: 100%;
  
  
 
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 100%;
  position: relative;
  padding: 1rem;
}

.snail-shape {
  img {
    position: absolute;
    max-width: 1300px;
    height: auto;
    z-index: -5;
    right: -25%;
    top: -36%;
  }
}

.laptop-bg {
  position: relative;
  width: 100%;
  max-width: 1500px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin-top: 8rem;

  

  img {
    width: 100%;
    overflow: hidden;
    height: auto;
    display: block;
  }
}

.bg-screen {
  position: absolute;
  width: 74%;
  height: 73%;
  bottom: 26%;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
  pointer-events: none;
  z-index: -1;
  border: 1px solid;
  border-radius: 8px;
}

.laptops-universe {
  
  position: absolute;
  top: 15%;
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 2;
  padding: 2rem;




  h1 {
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    color: #000000;
    margin-bottom: 1.5rem;
  }

  p {
    font-size: clamp(1rem, 2.2vw, 1.3rem);
    color: #000000;
    margin-top: 1rem;
    line-height: 1.6;
  }

  #last-par {
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-weight: 400;
    color: #000000;
    margin-top: 2rem;

    span {
      font-weight: 700;
      color: #000000;
    }
  }
}

.explore-button {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: clamp(1rem, 2vw, 1.2rem);
  border: none;
  cursor: pointer;
  margin-top: 4rem;
  transition: all 0.3s ease-in-out;
  width: 200px;
  
  h1 {
    color: #ffffff;
    margin: 0;
    font-size: 26px;
  }

  .icon {
    margin-right: 10px;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    background-color: #0145ff;
    transform: scale(1.02);

    h1,
    .icon {
      color: #ffffff;
    }
  }
}




/* Optional: Responsive fallback for very small screens */
@media (max-width: 768px) {
  .bg-screen {
    width: 85%;
    height: 40%;
    top: 25%;
  }

  .laptops-universe {
    width: 90%;
    top: 25%;
  }

  .explore-button {
    width: 50%;


    
  }
}



  @media (max-width: 1296px) {

    .snail-shape {
      
      img {

        top: -40%;
        right: -40%;
      }
    }


    .laptop-bg {
      top: -1%;
    }

    .laptops-universe {

      top: clamp(8%, 2.5vw, 10%);

      h1 {
      font-size: 2rem;

    }

    p {
      font-size: 1.2rem;
    }

    span {
      font-size: 1rem;
    }

    .explore-button {
      width: 200px;
      
      
      h1 {
        font-size: 1.2rem;
      }
    }

    }
    
  }


